body {
  background: #fff;
}

button:focus {
  outline: 0;
}

button.slick-arrow.slick-prev:before, button.slick-arrow.slick-next:before {
  box-sizing: border-box;
  text-shadow: 0 0 4px #000;
}

#mobileProjects {
  display: none;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before {
  right: 0;
}

@media only screen and (max-height: 724px) {
  #Projects {
    height: 724px !important;
  }
}

@media only screen and (min-height: 825px) {
  #Projects {
    .mobileContainer {
      padding-top: 5%;
      box-sizing: border-box;
    }
  }
}

@media only screen and (min-height: 955px) {
  #Projects {
    .mobileContainer {
      padding-top: 10%;
    }
  }
}

@media only screen and (min-height: 1100px) {
  #Projects {
    .mobileContainer {
      padding-top: 15%;
    }
  }
}

// Mobile Responsiveness Start

@media only screen and (max-width: 1200px) {
  #Home {
    div:first-child {
      display: none;
    }
  }
}

@media only screen and (max-width: 770px) {
  #Home {
    div:nth-child(2) {
      width: 100% !important;
    }
    h1 {
      margin-bottom: 10px;
    }
    p {
      font-size: 1.2em !important;
      line-height: 1.2em !important;
    }
  }
  #Projects {
    height: 100% !important;
    .mobileContainer {
      width: 100% !important;
    }
    #Slider {
      display: none;
    }
    #mobileProjects {
      display: block;
      p {
        padding: 5px 10px;
      }
      hr {
        margin-top: 24px;
      }
    }
  }
  #About {
    height: 100% !important;
    .mobileContainer {
      width: 100% !important;
      display: block !important;
      .contentContainer {
        display: block !important;
        vertical-align: default !important;
        .blurbContainer, .skillsContainer {
          float: none !important;
          width: 100% !important;
          display: block !important;
          text-align: left !important;
          p {
            margin-bottom: 5%;
          }
          .skillsList {
            display: block !important;
            vertical-align: default !important;
            .listTitle, .list {
              text-align: left !important;
              line-height: 1.2em !important;
              li {
                display: inline-block;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  #Contact {
    .mobileContainer {
      width: 100% !important;
      .h1Class {
        font-size: 2.5em !important;
      }
      .aClass {
        font-size: 1.1em !important;
      }
    }
  }
}

// Mobile Responsiveness End
